<!-- edit.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
</head>
<body>
    <h1>Editar Tarefa</h1>
    <form action="/edit/{{task.id}}" method="POST">
        <label for="tarefa">Nova Tarefa:</label>
        <input type="text" id="tarefa" name="tarefa" value="{{task.tarefa}}">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
