<!-- task.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Tarefa</title>
</head>
<body>
    <h1>Detalhes da Tarefa</h1>
    <p>ID da Tarefa: {{task.id}}</p>
    <p>Nome da Tarefa: {{task.tarefa}}</p>
    <a href="/">Voltar para tarefas</a>
</body>
</html>